In [15]:
# Addition
add = lambda x, y: x + y
print(add(3, 4))  # Output: 7

# Multiplication
multiply = lambda x, y: x * y
print(multiply(5, 6))  # Output: 30

7
30

In [16]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [17]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

In [18]:
# Sort a list of tuples by the second element
data = [(1, 3), (2, 1), (4, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data) # Output: [(2, 1), (4, 2), (1, 3)]

[(2, 1), (4, 2), (1, 3)]

In [1]:
my_list = ['apple', 'banana', 'cherry']
my_iterator = iter(my_list) # Create an iterator from the list

for fruit in my_iterator: # Iterate through the elements
    print(fruit)

apple
banana
cherry

In [3]:
integer_list = [10, 20, 30, 40, 50] 
string_list = [] 
# Iterate through the list and convert each integer to a string
for number in integer_list:
    string_number = str(number) # Convert the integer to a string
    string_list.append(string_number) # Add the string to the new list
print(f"Original integer list: {integer_list}")
print(f"Converted string list: {string_list}")

Original integer list: [10, 20, 30, 40, 50]
Converted string list: ['10', '20', '30', '40', '50']

In [8]:
digi=[22,2,24,25,26,27]
print(dir(digi))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [7]:
number = 12345  # Define a number
digits = [int(d) for d in str(number)] # Convert the number to a string, then to a list of integer digits
print(digits)

for digit in digits:
    print(digit)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [13]:
name = ['ema','tom','hinton']
looper = name.__iter__() #using iter 
print(type(name))
print(type(looper))
print(next(looper)) #using next
print(next(looper))
print(next(looper))
print(next(looper)) #documenting stopiteration error

<class 'list'>
<class 'list_iterator'>
ema
tom
hinton

StopIteration:

In [19]:
names = ["Alice", "Bob", "Charlie"]  

looper = iter(names) 

while True:  # Start an infinite loop
    try:
        name = next(looper)  # Get the next element from the iterator
        print(name)
    except StopIteration:  # Catch the StopIteration exception
        break  # Exit the loop when the iterator is exhausted

Alice
Bob
Charlie

In [23]:
#iterable demonstration
print("___iterable___\n")
# Lists
my_list = ['apple', 'banana', 'cherry']
print("--- List Iteration ---")
for item in my_list:
    print(item)

# Tuples
my_tuple = ('red', 'green', 'blue')
print("\n--- Tuple Iteration ---")
for color in my_tuple:
    print(color)

# Strings
my_string = "Python"
print("\n--- String Iteration ---")
for char in my_string:
    print(char)

# Dictionaries (iterating over keys)
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print("\n--- Dictionary Key Iteration ---")
for key in my_dict:
    print(key)

# Dictionaries (iterating over values)
print("\n--- Dictionary Value Iteration ---")
for value in my_dict.values():
    print(value)

# Dictionaries (iterating over key-value pairs)
print("\n--- Dictionary Item Iteration ---")
for key, value in my_dict.items():
    print(f"{key}: {value}")

# Sets
my_set = {'cat', 'dog', 'mouse'}
print("\n--- Set Iteration ---")
for animal in my_set:
    print(animal)

# Range object (generates numbers on the fly)
print("\n--- Range Object Iteration ---")
for num in range(3):
    print(num)

# Custom iterable class
class MyIterable:
    def __init__(self, start, end):
        self.current = start
        self.end = end

    def __iter__(self):
        return self

    def __next__(self):
        if self.current <= self.end:
            val = self.current
            self.current += 1
            return val
        else:
            raise StopIteration

my_custom_iterable = MyIterable(1, 4)
print("\n--- Custom Iterable Iteration ---")
for val in my_custom_iterable:
    print(val)

___iterable___

--- List Iteration ---
apple
banana
cherry

--- Tuple Iteration ---
red
green
blue

--- String Iteration ---
P
y
t
h
o
n

--- Dictionary Key Iteration ---
name
age
city

--- Dictionary Value Iteration ---
Alice
30
New York

--- Dictionary Item Iteration ---
name: Alice
age: 30
city: New York

--- Set Iteration ---
cat
mouse
dog

--- Range Object Iteration ---
0
1
2

--- Custom Iterable Iteration ---
1
2
3
4

In [24]:
#non iterable demonstration
print("___non iterable___\n")

# Integers
my_int = 123
print("\n--- Non-Iterable: Integer ---")
try:
    for digit in my_int:
        print(digit)
except TypeError as e:
    print(f"Error: {e}")

# Floats
my_float = 3.14
print("\n--- Non-Iterable: Float ---")
try:
    for f_part in my_float:
        print(f_part)
except TypeError as e:
    print(f"Error: {e}")

# Booleans
my_bool = True
print("\n--- Non-Iterable: Boolean ---")
try:
    for b_val in my_bool:
        print(b_val)
except TypeError as e:
    print(f"Error: {e}")

# None type
my_none = None
print("\n--- Non-Iterable: None ---")
try:
    for n_val in my_none:
        print(n_val)
except TypeError as e:
    print(f"Error: {e}")

___non iterable___


--- Non-Iterable: Integer ---
Error: 'int' object is not iterable

--- Non-Iterable: Float ---
Error: 'float' object is not iterable

--- Non-Iterable: Boolean ---
Error: 'bool' object is not iterable

--- Non-Iterable: None ---
Error: 'NoneType' object is not iterable

In [28]:
#map demo
def square (x):
 return x*x
numbers=[1,2,3,4,5]
print(list(map(square,numbers))) #map usage

[1, 4, 9, 16, 25]

In [33]:
#replacing map with lambda
numbers=[1,2,3,4,5]
print(list(map(lambda x:x*x,numbers))) #lambda usage

[1, 4, 9, 16, 25]

In [41]:
# 1. Filter out even numbers (keep odd numbers)
odd_numbers_filtered = filter(lambda x: x % 2 != 0, numbers)
# 2. Map (square) the odd numbers
squared_odd_numbers = map(lambda x: x**2, odd_numbers_filtered)
# Convert the map object to a list for printing
result = list(squared_odd_numbers)
print(f"Squared odd numbers: {result}")

Squared odd numbers: [1, 9, 25]

In [38]:
# 1. Map (double) each number
doubled_numbers = map(lambda x: x * 2, numbers)
# 2. Filter out numbers less than 10
filtered_doubled_numbers = filter(lambda x: x >= 10, doubled_numbers)
# Convert the filter object to a list
result = list(filtered_doubled_numbers)
print(f"Doubled and then filtered numbers: {result}")

Doubled and then filtered numbers: [10]

In [45]:
#Chaining operations for more complex data transformation
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 28},
    {"name": "David", "age": 35},
    {"name": "Eve", "age": 22},
    {"name": "Frank", "age": 40},
    {"name": "Grace", "age": 32},
    {"name": "Sara", "age": 26},
    {"name": "Steve", "age": 29},
]
# 1. Filter people older than 28
older_people = filter(lambda person: person["age"] > 28, people)
# 2. Map (extract name and convert to uppercase)
uppercase_names = map(lambda person: person["name"].upper(), older_people)
# Convert to a list
result_names = list(uppercase_names)
print(f"Uppercase names of people older than 28: {result_names}")

Uppercase names of people older than 28: ['BOB', 'DAVID', 'FRANK', 'GRACE', 'STEVE']

In [43]:
#replacing map with lamba and filter
numbers=[1,2,3,4,5]
print(list(filter(lambda x:x*x,numbers)))

[1, 2, 3, 4, 5]

In [46]:
names = ["Alice", "Bob", "Charlie", "david", "EVE"]

# Convert all names to uppercase using map() and str.upper
uppercase_names = list(map(str.upper, names))
print(f"Uppercase names: {uppercase_names}") # Output: ['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EVE']

# Convert all names to lowercase using map() and str.lower
lowercase_names = list(map(str.lower, names))
print(f"Lowercase names: {lowercase_names}") # Output: ['alice', 'bob', 'charlie', 'david', 'eve']

Uppercase names: ['ALICE', 'BOB', 'CHARLIE', 'DAVID', 'EVE']
Lowercase names: ['alice', 'bob', 'charlie', 'david', 'eve']

In [47]:
names = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace"]

# Filter out names longer than 5 characters
short_names = list(filter(lambda name: len(name) <= 5, names))
print(f"Names <= 5 characters: {short_names}")
# Output: Names <= 5 characters: ['Alice', 'Bob', 'David', 'Eve']

# Filter out names that start with a specific letter
names_starting_with_c = list(filter(lambda name: name.startswith('C'), names))
print(f"Names starting with 'C': {names_starting_with_c}")

Names <= 5 characters: ['Alice', 'Bob', 'David', 'Eve', 'Frank', 'Grace']
Names starting with 'C': ['Charlie']

In [51]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]  # Define `numbers` as a list
total = reduce(lambda x, y: x + y, numbers)
print(total)

15

In [1]:
from functools import reduce
quote = "The only way to do great work is to love what you do."
# 1. Tokenize the quote into a list of words (split by space).
tokens = quote.split() 
print(f"Tokens: {tokens}") 
# 2. Use map() to add a space after each token
# using a lambda function.
spaced_tokens_uppercase = map(lambda word: word.upper() + " ", tokens)
# 3. Use reduce() to combine the tokens into a single string (the sentence)
sentence = reduce(lambda x, y: x + y, spaced_tokens_uppercase).strip() 
print(f"Reconstructed sentence (uppercase): {sentence}")

Tokens: ['The', 'only', 'way', 'to', 'do', 'great', 'work', 'is', 'to', 'love', 'what', 'you', 'do.']
Reconstructed sentence (uppercase): THE ONLY WAY TO DO GREAT WORK IS TO LOVE WHAT YOU DO.

In [3]:
print("MAP, LAMBDA, and FILTER are Python tools used for functional programming\n")
print("map applies a transformation to each item, filter selects items based on a conditionan\n")
print("lambda provides a concise way to define the functions for these operations.\n")

MAP, LAMBDA, and FILTER are Python tools used for functional programming

map applies a transformation to each item, filter selects items based on a conditionan

lambda provides a concise way to define the functions for these operations.